extends layout

block content
  - var turnOnMenu = game && game.families[0];

  #sidebar
    if turnOnMenu
      img.gameimage(src="/images/#{game.families[0].name}image.jpg")
    else
      img.gameimage(src="/images/pendragonimage.jpg")
    if turnOnMenu
      #turnCounter
        p #{game.turn.quarter} #{game.turn.year}
        button End Turn
      ul
        li
          button#expendituresMenu
            p Expenditures
        li
          button#charactersMenu
            p Characters
        li
          button#mapMenu
            p Map
        li
          button#courtMenu
            p Court
        li
          button#historyMenu
            p History
        li
          button#settingsMenu
            p Settings

  formUrl = '/user/' + accountId + '/game/' + gameId
  form#content( action=formUrl, method="POST")
    if turnOnMenu
      #resources
        p Resources #{turnResources}£
        #resourcesProgress
          div
        p#remainingResources #{turnResources}£
      fieldset#expendituresPage
        #locales.horizontalList
          each locale in game.families[0].locales
            button.localeDetailButton
              label(for=locale.name) #{locale.name}
              input(type="range", name=locale.name, value=locale.taxation)
      fieldset#charactersPage(class='notShown')
        #characters.horizontalList
          each member in game.families[0].members
            button.memberDetailButton
              p #{member.name}
      fieldset#mapPage(class='notShown')
      fieldset#courtPage(class='notShown')
      fieldset#historyPage(class='notShown')
    fieldset#settingsPage(class='notShown')
      a(href='/') Logout
      newGameURL = '/user/' + accountId + '/game/new'
      a(href=newGameURL) New Game
      .multilist
        ul.listgroup

  if turnOnMenu
    script.
      $(document).ready( function() {
        // menu
        var pageShown = '#expendituresPage';
        var showPage = function( pageToShow) {
            if( pageShown != pageToShow) {
                $(pageShown).addClass('notShown');
                pageShown = pageToShow;
                $(pageShown).removeClass('notShown');
            }
        };
        $('#expendituresMenu').click( function() {showPage('#expendituresPage');});
        $('#charactersMenu').click( function() {showPage('#charactersPage');});
        $('#mapMenu').click( function() {showPage('#mapPage');});
        $('#courtMenu').click( function() {showPage('#courtPage');});
        $('#historyMenu').click( function() {showPage('#historyPage');});
        $('#settingsMenu').click( function() {showPage('#settingsPage');});
        $('#turnCounter button').click(function() {
            $('form').submit();
        });

        //expendituresPage
        var calculateResources = function() {
            var spent = 0;

            var progress = $('#resourcesProgress div');
            $('#remainingResources').text((#{turnResources} - spent) + '£');
            var val = (#{turnResources} - spent) * 100 / #{turnResources};
            progress.css('width',Math.floor(Math.abs(val)) + '%');
        };
        $('.localeDetailButton').click( function(ev) {
            ev.preventDefault();
        });

        //charactersPage
        $('.memberDetailButton').click( function(ev) {
            ev.preventDefault();
        });
        
        //mapPage
        //courtPage
        //historyPage
        //settingsPage
      });
  else
    script.
      $(document).ready( function() {
          $('#settingsPage').removeClass('notShown');
      });