extends layout

block content
  - var turnOnMenu = game && game.families[0];
  script.
    //var socket = io.connect('http://10.0.1.10');
    var socket = io.connect('http://localhost');

  #sidebar
    if turnOnMenu
      img.gameimage(src="/images/#{game.families[0].name}image.jpg")
    else
      img.gameimage(src="/images/pendragonimage.jpg")
    if turnOnMenu
      #turnCounter
        p #{game.turn.quarter} #{game.turn.year}
        button End Turn
      ul
        li
          button#expendituresMenu
            p Expenditures
        li
          button#charactersMenu
            p Characters
        li
          button#mapMenu
            p Map
        li
          button#courtMenu
            p Court
        li
          button#historyMenu
            p History
        li
          button#settingsMenu
            p Settings

  formUrl = '/user/' + accountId + '/game/' + gameId
  form#content( action=formUrl, method="POST")
    if turnOnMenu
      #resources
        p calculating...
        #resourcesProgress
          div
        p#remainingResources calculating...
      fieldset#expendituresPage
        label(for='livingStyle') Living Style
        select(name='livingStyle', id='livingStyle')
          option(value='Poor') Poor
          option(value='Normal', selected='true') Normal
          option(value='Rich') Rich
          option(value='Opulent') Opulent
        #clothing
          label(for='clothing') Clothing and Accoutrements
          input(type='range', name='clothing', max=6, value=0)
          p 0£
        #locales.horizontalList
          each locale in game.families[0].locales
            .localeSummary
              button.localeDetailButton(data-id='#{locale.id}', data-income='#{locale.income}')
                p #{locale.name}
                p.localeIncome Income: #{locale.income}£
                p.localeCost Cost: #{locale.cost}£
      fieldset#charactersPage(class='notShown')
        #characters
          each member in game.families[0].members
            button.memberDetailButton(data-id='#{member.id}')
              p #{member.name}
              p #{member.class}
      fieldset#mapPage(class='notShown')
      fieldset#courtPage(class='notShown')
        if game.turn.quarter == 'Winter'
          p No Winter Court
        if game.turn.quarter == 'Spring'
          p Pentacost Court
        if game.turn.quarter == 'Summer'
          p No Summer Court
        if game.turn.quarter == 'Fall'
          p Christmas Court
      fieldset#historyPage(class='notShown')
    fieldset#settingsPage(class='notShown')
      a(href='/') Logout
      newGameURL = '/user/' + accountId + '/game/new'
      a(href=newGameURL) New Game
      .multilist
        ul.listgroup
    fieldset#memberDetailPage(class='notShown')
      p#memberName
      p#memberClass
      p#memberAge
      p#health
      p#body
      p#mind
      p#spirit
      #skills
      p#armor
      p#shield
    fieldset#localeDetailPage(class='notShown')
      p#localeName
      p#localeIncome
      p#localeCost
      p#steward

  if turnOnMenu
    script.
      $(document).ready( function() {
        // menu
        var pageShown = '#expendituresPage';
        var showPage = function( pageToShow) {
            if( pageShown != pageToShow) {
                $(pageShown).addClass('notShown');
                pageShown = pageToShow;
                $(pageShown).removeClass('notShown');
            }
        };
        $('#expendituresMenu').click( function() {showPage('#expendituresPage');});
        $('#charactersMenu').click( function() {showPage('#charactersPage');});
        $('#mapMenu').click( function() {showPage('#mapPage');});
        $('#courtMenu').click( function() {showPage('#courtPage');});
        $('#historyMenu').click( function() {showPage('#historyPage');});
        $('#settingsMenu').click( function() {showPage('#settingsPage');});
        $('#turnCounter button').click(function() {
            $('#content').submit();
        });

        //resources area
        var calculateSpent = function() {
            var spent = parseInt($('#clothing input').val(),10);
            switch( $('#livingStyle').val()) {
            case 'Poor':
                spent += 1;
                break;
            case 'Rich':
                spent += 8;
                break;
            case 'Opulent':
                spent += 12;
                break;
            case 'Normal':
            default:
                spent += 4;
                break;
            }
            return spent;
        };
        var calculateIncome = function() {
            var result = #{game.families[0].cash};
            $('.localeDetailButton').each( function() {result+=$(this).data('income');});
            $('#resources p').text( 'Resources ' + result + '£');
            $('#clothing input').attr('max',result);
            return result;
        };
        var calculateResources = function() {
            var spent = calculateSpent();
            var have = calculateIncome();
            var progress = $('#resourcesProgress div');
            if( spent > have) {
                progress.addClass('inDebt');
                $('#remainingResources').text('-' + (spent - have) + '£');
            } else {
                progress.removeClass('inDebt');
                $('#remainingResources').text((have - spent) + '£');
            }
            var val = (have - spent) * 100 / have;
            progress.css('width',Math.floor(Math.abs(val)) + '%');
        };
        calculateResources();

        //expendituresPage
        $('.localeDetailButton').click( function(ev) {
            ev.preventDefault();
            socket.emit('locale', '#{gameId}', $(this).data('id'), function(data,steward) {
                $('#localeName').text( data.name);
                $('#localeIncome').text( 'Income: ' + data.income + '£');
                $('#localeCost').text( 'Cost: ' + data.cost + '£');
                if( steward)
                    $('#steward').text( 'Steward: ' + steward.name);
                showPage('#localeDetailPage');
            });
        });
        $('#clothing input').change( function() {
            $('#clothing p').text( $(this).val() + '£');
            calculateResources();
        });
        $('#livingStyle').change( function() {calculateResources();});

        //charactersPage
        $('.memberDetailButton').click( function(ev) {
            ev.preventDefault();
            socket.emit('member', '#{gameId}', $(this).data('id'), function(data) {
                $('#memberName').text( data.name);
                $('#memberClass').text( data.class);
                $('#memberAge').text( 'Age: ' + data.age);
                $('#health').text( 'Health: ' + data.health);
                $('#body').text( 'Body: ' + data.body);
                $('#mind').text( 'Mind: ' + data.mind);
                $('#spirit').text( 'Spirit: ' + data.spirit);
                $('#skills').empty();
                data.skills.forEach( function(s) {
                    $('#skills').append($('<p></p>').text( s.name + ': ' + s.level));
                });
                if( data.armor && data.armor.length > 0)
                    $('#armor').text( data.armor + (data.shield?' and Shield':''));
                showPage('#memberDetailPage');
            });
        });
        
        //mapPage
        //courtPage
        //historyPage
        //settingsPage
      });
  else
    script.
      $(document).ready( function() {
          $('#settingsPage').removeClass('notShown');
      });