extends layout

block content
  - var turnOnMenu = game && game.families[0];
  script.
    var localesA = new Array();

  #sidebar
    if turnOnMenu
      img.gameimage(src="/images/#{game.families[0].name}image.jpg")
    else
      img.gameimage(src="/images/pendragonimage.jpg")
    if turnOnMenu
      #turnCounter
        p #{game.turn.quarter} #{game.turn.year}
        button End Turn
      ul
        li
          button#expendituresMenu
            p Expenditures
        li
          button#charactersMenu
            p Characters
        li
          button#mapMenu
            p Map
        li
          button#courtMenu
            p Court
        li
          button#historyMenu
            p History
        li
          button#settingsMenu
            p Settings

  formUrl = '/user/' + accountId + '/game/' + gameId
  form#content( action=formUrl, method="POST")
    if turnOnMenu
      #resources
        p Resources #{turnResources}£
        #resourcesProgress
          div
        p#remainingResources #{turnResources}£
      fieldset#expendituresPage
        label(for='livingStyle') Living Style
        select(name='livingStyle', id='livingStyle')
          option(value='Poor') Poor
          option(value='Normal', selected='true') Normal
          option(value='Rich') Rich
          option(value='Opulent') Opulent
        #clothing
          label(for='clothing') Clothing and Accoutrements
          input(type='range', name='clothing', max=turnResources, value=0)
          p 0£
        #locales.horizontalList
          each locale in game.families[0].locales
            script.
              localesA.push({name:'#{locale.name}',
                            income:#{locale.income},
                            cost:#{locale.cost}});
            .localeSummary
              button.localeDetailButton
                p #{locale.name}
                p.localeIncome Income: #{locale.income}£
                p.localeCost Cost: #{locale.cost}£
      fieldset#charactersPage(class='notShown')
        #characters.horizontalList
          each member in game.families[0].members
            button.memberDetailButton
              p #{member.name}
      fieldset#mapPage(class='notShown')
      fieldset#courtPage(class='notShown')
      fieldset#historyPage(class='notShown')
    fieldset#settingsPage(class='notShown')
      a(href='/') Logout
      newGameURL = '/user/' + accountId + '/game/new'
      a(href=newGameURL) New Game
      .multilist
        ul.listgroup

  if turnOnMenu
    script.
      $(document).ready( function() {
        // menu
        var pageShown = '#expendituresPage';
        var showPage = function( pageToShow) {
            if( pageShown != pageToShow) {
                $(pageShown).addClass('notShown');
                pageShown = pageToShow;
                $(pageShown).removeClass('notShown');
            }
        };
        $('#expendituresMenu').click( function() {showPage('#expendituresPage');});
        $('#charactersMenu').click( function() {showPage('#charactersPage');});
        $('#mapMenu').click( function() {showPage('#mapPage');});
        $('#courtMenu').click( function() {showPage('#courtPage');});
        $('#historyMenu').click( function() {showPage('#historyPage');});
        $('#settingsMenu').click( function() {showPage('#settingsPage');});
        $('#turnCounter button').click(function() {
            $('form').submit();
        });

        //expendituresPage
        var calculateSpent = function() {
            var spent = parseInt($('#clothing input').val(),10);
            switch( $('#livingStyle').val()) {
            case 'Poor':
                spent += 1;
                break;
            case 'Rich':
                spent += 9;
                break;
            case 'Opulent':
                spent += 12;
                break;
            case 'Normal':
            default:
                spent += 6;
                break;
            }
            return spent;
        };
        var calculateIncome = function() {
            var result = #{game.families[0].cash};
            localesA.forEach( function(l) {result+=l.income;});
            $('#resources p').text( 'Resources ' + result + '£');
            $('#clothing input').attr('max',result);
            return result;
        };
        var calculateResources = function() {
            var spent = calculateSpent();
            var have = calculateIncome();
            var progress = $('#resourcesProgress div');
            if( spent > have) {
                progress.addClass('inDebt');
                $('#remainingResources').text('-' + (spent - have) + '£');
            } else {
                progress.removeClass('inDebt');
                $('#remainingResources').text((have - spent) + '£');
            }
            var val = (have - spent) * 100 / have;
            progress.css('width',Math.floor(Math.abs(val)) + '%');
        };
        $('.localeDetailButton').click( function(ev) {
            ev.preventDefault();
        });
        $('#clothing input').change( function() {
            $('#clothing p').text( $(this).val() + '£');
            calculateResources();
        });
        $('#livingStyle').change( function() {calculateResources();});
        calculateResources();

        //charactersPage
        $('.memberDetailButton').click( function(ev) {
            ev.preventDefault();
        });
        
        //mapPage
        //courtPage
        //historyPage
        //settingsPage
      });
  else
    script.
      $(document).ready( function() {
          $('#settingsPage').removeClass('notShown');
      });